* {
  box-sizing: border-box;
}
:root {
  --colorGreen: #93e24e;
  --colorWhite: white;
  --colorRed: #e66161;
  --colorPaleRed: #e9c0c0;
  --font_Roboto: "Roboto Slab", serif;
  --font_Rubik: "Rubik", sans-serif;
}

/* fontsinfo: https://fonts.google.com/specimen/Roboto+Slab?query=roboto+slab&sidebar.open=true&selection.family=Roboto+Slab:wght@400;700|Rubik:wght@700   
"Rubik" is for Bold 700 for the Titel 
"Roboto slab" is for Bold 700 and Regular 400 
*/

html {
  font-family: var(--font_Roboto);
  font-size: 16px;
}

body {
  text-align: center;
  margin: 0;
}

.main {
  max-width: 50rem;
  background-color: var(--colorRed);
  text-align: left;
  margin: 2em auto;
  padding: 2em 9em;
}

.main h1 {
  text-transform: capitalize;
  color: var(--colorWhite);
  font-size: 2em;
  line-height: 1.6em;
  font-family: var(--font_Rubik);
}

.main > h1 > span {
  display: block;
}

.main > h1 > span:nth-child(2) {
  color: var(--colorGreen);
  text-transform: lowercase;
  font-size: 2em;
  margin: -13px 0px -11px -4px;
}

#instructions {
  color: var(--colorWhite);
  font-size: 0.9rem;
  padding: 0;
  list-style-position: inside;
  max-width: 380px;
}

.main p {
  font-size: 0.9em;
  color: var(--colorPaleRed);
  margin: 2em 0 0 0;
}

.license {
  margin-top: 6em;
  display: block;
  text-align: right;
  font-size: 0.8em;
  width: 100%;
  opacity: 0.8;
}
.license > a {
  color:inherit;

}

/* responsive Styling for Mobile devices*/
@media only screen and (max-width: 768px) {
  .main {
    padding-left: 2em;
    padding-right: 2em;
  }
}