.task {
  display: flex;
  align-items: stretch;
  list-style-type: none;
  transition: 0.2s;
  margin-top: 1em;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  height: 3em;
  border-radius: 6px;
  background-color: var(--colorWhite);
  font-size: 18px;
}

.task:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 14px 28px, rgba(0, 0, 0, 0.5) 0px 5px 5px;
  transition: all 0.25s;
}

.text {
  padding: 0em 1em;
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
}

input.text {
  font-size: inherit;
  font-family: inherit;
  border: unset;
  background: unset;
  align-self: center;
  margin: 0em 1em;
  padding: 0;
  border-bottom: solid rgb(143, 134, 134) 1px;
}

.bttn {
  border: none;
  width: 4em;
  height: 100%;
  background-size: 1.2em;
  background-position: center;
  background-repeat: no-repeat;
  background-color: unset;
  cursor: pointer;
  flex-shrink: 0;
}

.bttn:focus {
  outline-style: none;
}

.confirm {
  background-image: url(../../img/check-solid.svg);
}
.abort {
  background-image: url(../../img/times-solid.svg);
  background-size: 1.1em;
  border-radius: 0 6px 6px 0;
}
.edit {
  background-image: url(../../img/pen-solid.svg);
}
.delete {
  background-image: url(../../img/trash-solid.svg);
  border-radius: 0 6px 6px 0;
  background-size: 1.1em;
}
.bttn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.task.checked {
  background-color: rgba(125, 77, 77, 0.5) !important;
  padding: 0 0 0 40px;
}

.task.checked > .text {
  text-decoration: line-through;
  font-style: italic;
  font-size: 0.9em;
  opacity: 0.7;
}

.task.checked > .edit {
  display: none;
}

.task.editMode {
  border: 1px solid black;
}
